:root {
    --primary: #eb7072;
    --secondary: #f5ba90;
    --button: #f5e2b8;
    --font: #151515;
    --font2: #dadada;
    --various: #a2caa5;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    30% {
        margin-left: 0%;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}

.slider-frame ul {
    animation: slide 12s infinite alternate ease-out;
}

.navbar-list li {
    position: relative;
}

.navbar-list li::after {
    content: "";
    height: 2px;
    width: 0%;
    background: linear-gradient(to top, var(--font2), var(--font));
    position: absolute;
    left: 0;
    bottom: 1%;
    transition: 0.15s ease-out;
    transform: scaleX(0);
    transform-origin: bottom right;
}

.navbar-list li:hover::after {
    width: 100%;
    transform-origin: bottom left;
    transform: scaleX(1);
}

.quantity-handler:hover {
    cursor: pointer;
    background-color: var(--button);
}

.buttons:hover {
    background: var(--button);
}

.buttons-popular:hover {
    background: var(--button);
}


/* GLASSMORPHISMO */
.overlay {
    position: absolute;
    top: 80px;
    left: 0;
    height: 800vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

/* Toggle para el glass */

#menu-toggle:checked~.overlay {
    display: block;
}

#cart-toggle:checked~.overlay {
    display: block;
}