/* Responsive pagina principal */

/* WIDTH 1280 px */

@media (max-width: 1280px) {

    /* HEADER */
    .barra-busqueda {
        border-radius: 5px;
        border: 1px solid var(--secondary);
        width: 250px;
        padding: 3px;
    }

    .cart-icon {
        position: absolute;
        left: 86%;
    }

    .navbar-list {
        position: relative;
        left: 35%;
    }

    .zona-derecha {
        bottom: 4px;
    }

    /* MAIN */

    /* Portada */

    #portada {
        max-width: 1280px;
    }

    /* Slider */
    .slider-frame {
        width: 1000px;
    }

    .slider-img {
        width: 1000px;
    }


    /* Slider 2 */

    .slider2 {
        display: flex;
        padding: 0px;
        position: relative;
    }

    .slider2-info {
        right: 5%;
        top: 35%;
    }

    .tituloh2 {
        font-size: 30px;
    }

    /* CARD */

    #cards {
        margin: 250px 15px;
    }

    .productos-conteiner {
        gap: 30px;
    }

    .cards-subconteiner {
        display: grid;
        grid-template-columns: auto auto;
        gap: 60px;
    }

    .card-popular {
        width: 300px;
    }

    .buttons-popular img {
        width: 20px;
        height: 20px;
    }
}

/* WIDTH 1188 px */
@media (max-width: 1188px) {

    #portada {
        max-width: 1188px;
        margin: 0;
        padding: 0;
    }

    .tituloh2 {
        font-size: 28px;
    }

    .slider-frame {
        width: 900px;
        gap: 60px;
    }

    .slider-img {
        width: 850px;
        height: 500px;
        padding: 0 50px 50px;
    }

    .slider-frame ul {
        position: relative;
        left: 50px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        position: relative;
        right: 25px;
        left: 7%;
        top: -13px;
        margin: 0;
        width: 500px;
    }

    .navbar-list {
        left: 15px;
        top: 6px;
    }

    .barra-busqueda {
        position: absolute;
        left: 30%;
        width: 300px;
    }

    #cards {
        padding: 5px;
        max-width: 1188px;
    }

    .card {
        width: 210px;
        height: 220px;
    }

    .productos-conteiner {
        gap: 10px;
    }

    #nosotros {
        max-width: 1188px;
        padding: 10px;
    }

    #contacto {
        max-width: 1188px;
        padding: 10px;
    }

    .contactanos {
        max-width: 1188px;
    }

    .phone-mail {
        width: 700px;
    }

    .proveedores {
        max-width: 1188px;
        gap: 60px;
    }

    footer {
        max-width: 1188px;
    }
}

/* WIDTH 992 px */

@media (max-width: 992px) {

    /* Header */

    header {
        max-width: 992px;
    }

    .menu-label {
        display: block;
        position: absolute;
        top: 30px;
        left: 10px;
        order: 2;
        z-index: 2;
        cursor: pointer;

    }

    .logo-navbar {
        display: block;
        width: 70px;
        height: 70px;
    }

    .navbar {
        position: relative;
        width: 100%;
        left: 0;
        right: 0;
    }

    .navbar-list {
        position: absolute;
        height: 350px;
        min-width: 500px;
        top: 85px;
        left: 3%;
        right: 3%;
        flex-direction: column;
        gap: 30px;
        background: linear-gradient(to top, var(--secondary), var(--button), #ffffff);
        z-index: 2;
        display: none;
        border-radius: 15px;
        border: 1px solid var(--secondary);
        border-top: none;
        box-shadow: 2px 2px 8px #7d7d7d;
    }

    #menu-toggle:checked+.navbar-list {
        display: flex;
    }

    .barra-busqueda {
        position: absolute;
        top: 30px;
    }

    .logo {
        display: none;
    }

    .zona-derecha {
        flex-direction: column;
        position: absolute;
        top: 45%;
        left: 75%;
    }

    .login {
        gap: 5px;
    }

    .cart-icon {
        position: absolute;
        top: -25px;
        left: 38%;
        width: 25px;
        height: 15px;
    }

    .envio {
        display: none;
    }

    .slider-img {
        width: 700px;
        height: 400px;
    }

    .slider-frame {
        width: 760px;
    }

    .info-conteiner {
        max-width: 992px;
    }

    .productos-conteiner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       align-items: center;
        gap: 60px;
    }

    .info-item,
    .info-personal {
        width: 80%;
    }

    .personal {
        width: 500px;
        gap: 15px;
    }

    .personal-item {
        width: 100px;
    }

    .personal-item{
        padding: 0px 10px 10px 10px;
    }

.foto-carnet {
    width: 80px;
    height: 70px;
}

.phone-mail {
    width: 600px;
}

.contactanos {
    max-width: 992px;
}

.item {
    font-size: 16px;
    width: 300px;
}

    #nosotros {
        max-width: 992px;
    }

    .textarea {
        width: 90%;
    }
}